html {
	overflow-y: scroll;
	vertical-align: baseline;
}

body {
	font-family: Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana, sans-serif, "新宋体";
	font-size: 12px;
	color: #000000;
	height: 100%;
	line-height: 1;
	background: #999;
	background-image: url(../images/2.jpg);
}

* {
	margin: 0 auto;
	padding: 0px;
}

#tab {
	width: 410px;
	position: relative;
	margin: 80px auto 0px auto;
	text-align: center;
	padding: 1px;
}

#tab .tab_box {
	width: 410px;
	clear: both;
	top: 50px;
	position: relative;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
	filter: alpha(opacity:80);
}

#tab .tab_box input {
	font-size: 12px;
}

.tab_box div {
	padding: 10px;
}

input[type=text],
input[type=password] {
	width: 200px;
	height: 40px;
	margin-top: 10px;
	padding: 0px 15px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 6px;
	color: #000000;
	letter-spacing: 2px;
	font-size: 16px;
	background: transparent;
}

.button1 {
	cursor: pointer;
	width: 50%;
	height: 45px;
	padding: 0;
	background: #007AC3;
	border: 1px solid #007AC3;
	border-radius: 6px;
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	letter-spacing: 15px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.a {
	cursor: pointer;
	color: #007AC3;
	background-color: white;
	border: 1px white solid;
	margin-top: 20px;
}

.b {
	height: 50px;
	border-bottom: 1px black solid;
	background-color: white;
	padding-top: 10px;
	padding-left: 250px;
}

.c {
	width: 120px;
	color: #007AC3;
	font-size: 24px;
	margin-top: -36px;
	margin-left: 200px;
}
