<!doctype html>
<html lang="zh-cn">
  <head>
    <title>后台首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="css/bootstrap.min.css"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
        <span class="rounded-left">
          <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="C1.html">
              仪表盘
            </a>
            
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="C2.html">商品管理</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="D1.html">订单管理（测试版）</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="C3.html">查找商品</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="U1.html">用户查询(BETA)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="U2.html">用户管理(BETA)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
              </li>
            </ul>
          </nav>
        </span>
      </div>
     
      <div class="row">
          <div class="col" style="background-color:lavender;">
            <div id="Sys">
            <div class="container"  v-for="site in up">
              <div class="card">
                <div class="card-header"><h5 class="text-center">欢迎使用后台管理系统</h5></div>
                <div class="card-body"><h5 class="text-center">{{site.sys_name}}<br>
                  <span class="badge badge-pill badge-primary">当前状态：</span>
                  &nbsp;&nbsp;<span class="badge badge-pill badge-success">在线</span>
                </h5>
              </div> 
              </div>
              <div class="card">
                  <div class="card-body">版本信息：<br>
                        版本构建时间：{{ site.sys_time }}<br>
                        前端版本：{{site.sys_vid}}<br>
                        服务版本：{{site.sys_jar}}<br>
                        CDN加速服务商：<a href="https://activity.huaweicloud.com/discount_area_v5/index.html?utm_source=baidu&utm_medium=brand&utm_campaign=10033&utm_content=&utm_term=&utm_adplace=AdPlace024711">@华为云</a><br>
                        云服务器服务商：<a href="https://www.aliyun.com/?spm=5176.12901015.ahjq0uaqt.1.127e525cYeOzPa">@阿里云计算</a>
                  </div>
                </div>
                <br>
                <br>
                <div class="card bg-success text-white">
                  <div class="card-body">
                    <p>{{ site.sys_bq }}</p>
                    <p>地&nbsp;&nbsp;址：{{ site.sys_dz }}</p>
                    <p>备案号：<a href="https://www.beian.miit.gov.cn">{{site.sys_ba}}</a>
                    <a href="https://www.aliyun.com/?spm=5176.12901015.ahjq0uaqt.1.127e525cYeOzPa">{{site.sys_zc}}</a>
                    </p>
                  </div>
                </div>
                <br>
            </div>
            </div>
          </div>
       <div class="col"> 
            <div class="card-footer"><h5 class="text-center">MySql-数据库信息：</h5>
        </div>
        <div class="card">
            <div class="card-body">版本信息：MySql 8.0.19-Community-nt via TCP/IP</div>
          </div>
          <br>
          <div class="card bg-primary text-white">
            <div class="card-body">登录信息：<br>
                数据库地址：27.50.169.208<br>
                当前操作用户：root<br>
                JDBC驱动版本：MySql-connector-Java-8.0.19.jar<br>
                

            </div>
          </div>
          <br>
          <div class="card bg-success text-white">
            <div class="card-body">当前连接状态：数据库连接正常</div>
          </div>
          <br>
          <div class="card bg-light text-dark">
            <div class="card-body">
                      <h5 class="text-center">当前数据库使用程度：</h5>
                      <div class="progress">
                          <div class="progress-bar bg-success" style="width:25%">
                            负载低
                          </div>
                          <div class="progress-bar bg-warning" style="width:25%">
                            负载一般
                          </div>
                          <div class="progress-bar bg-danger" style="width:40%">
                            繁忙！
                          </div>
                          <div class="progress-bar bg-dark" style="width:10%">
                              GG
                            </div>
                        </div>
                        <br>
                      <div class="progress">
                          <div class="progress-bar bg-success" style="width:10%">10%</div>
                      </div>
                      <br>
                      <br>
                      <h5>数据库使用正常</h5>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
            </div>
          </div>
      </div>
          <div class="col" style="background-color:lavender;">
              <div class="card-header"><h5 class="text-center">服务器信息：</h5>
              </div>
              <div id="A2">
              <div class="card  text-dark">
                <div class="card-body" >当前登录用户位置信息：<br>
                  <div id="a">
                      当前登录IP：<script>document.write(returnCitySN["cip"])</script><br>
                      IP所在地： {{IP.province}},{{IP.city}} <br>
                      服务器框架：<br>
                      服务器信息：<br>
                      CentOS 7 - x64 <br>
                      处理器：Intel(R) Xeon(R) PLatinum 8163 CPU @2.50GHz<br>
                      已安装RAM：8GB DDR4<br>
                      IIS版本：IIS -10.0<br>
                  </div> 
                      
                </div>
              </div>
              </div>
                <br>
                <div class="card bg-primary text-white">
                  <div class="card-body">服务器地址：<br>
                        http://27.50.169.208/<br>
                        服务器框架：<br>
                        服务器信息：<br>
                        CentOS 7 - x64 <br>
                        处理器：Intel(R) Xeon(R) PLatinum 8163 CPU @2.50GHz<br>
                        已安装RAM：8GB DDR4 <br>
                        TomCat版本：TomCat 8.0<br>
                        
                        
                  </div>
                </div>
                <br>
                <div class="card bg-success text-white">
                  <div class="card-body">服务器运行状态：稳定</div>
                </div>
                <br>
                <div class="card bg-danger text-white">
                  <div class="card-body">有一项错误信息：<br>
                        定位：用户表查询功能<br>
                        位置：Null!!<br>
                        错误代码：<br>
                        erro :400
                  </div>
                </div>
                <br>
            </div>
        </div>
      
    <script>
      var Fdd = new Vue({
        //绑定标签
        el:"#Sys",
        //绑定数据
        data(){
          return{
            up:null
          }
        },
        //请求服务器数据的方法
        mounted () {//用来向服务器请求数据的方法
              axios.get('http://27.50.169.208:10231/getSys')
              .then(
                  function(response){//请求正常完成的处理
                    //将响应的数据给到libs
                    Fdd.up = response.data;
                    
                }).catch(
                  function (error) { // 请求失败处理
                    alert("服务器尚未启动，请联系后端管理员");
               });
            },
      }); 
      //通过访问IP，获取当前登录用户位置信息 
      var a = new Vue({
		  el:"#a",
		  data(){
			return{
				IP:[]
			}
		},
		mounted() {
			axios.get('https://restapi.amap.com/v3/ip?key=0113a13c88697dcea6a445584d535837')
			.then(
				function(response){
					a.IP = response.data;
					
				}
			)
		},


	  })
    </script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>