<!doctype html>
<html lang="zh-cn">
  <head>
    <title>精确商品ID查询</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="C1.html">
          仪表盘
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="C2.html">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="D1.html">订单管理（测试版）</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C3.html">查找商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U1.html">用户查询(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U2.html">用户管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
          </li>
        </ul>
      </nav>
      </div>
    <div id="A1">
      <form class="form-inline">
      <label for="">商品编号：</label>&nbsp;&nbsp;<span class="badge badge-pill badge-warning">请注意：编码具有唯一性！</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" name="id" id="up.shopid" class="form-control" placeholder="请输入商品编号" aria-describedby="helpId" v-model="up.shopid">
      &nbsp;&nbsp;<button type="button" class="btn btn-primary" v-on:click="Find">搜索</button>
    </form>

    <table class="table  table-bordered" >
        <thead class="thead-light">
            <tr>
                <th class="text-center">商品编号</th>
                <th class="text-center">商品名称</th>
                <th class="text-center">商品价格(单位：元)</th>
                <th class="text-center">商品描述</th>
                <th class="text-center">商品折扣</th>
                <th class="text-center">商品活动</th>
                <th class="text-center">数据操作</th>
                <th class="text-center">测试接口</th>
            </tr>
        </thead>
        <tbody>
          <form>
              <tr>
                  <td class="text-center" scope="row">{{up.shopid}}</td>
                  <td class="text-center">{{up.shopname}}</td>
                  <td class="text-center">{{up.shopprice}}</td>
                  <td class="text-center">{{up.shopmiaoshu}}</td>
                  <td class="text-center">{{up.shopzhekou}}</td>
                  <td class="text-center">{{up.shopbeizhu}}</td>
                  <td class="text-center"><button type="button" class="btn btn-outline-success">修改</button>
                    <button type="button" class="btn btn-outline-danger" v-on:click="SC(a.shopid,index)">删除</button>
                  </td>
                  <td class="text-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-primary">新功能按钮</button>
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">测试功能 - 01</a>
                            <a class="dropdown-item" href="#">测试功能 - 02</a>
                          </div>
                        </div>
                  </td>
              </tr>
          </form>
        </tbody>
    </table>
  </div>  
  </div>
    <script>
      //创建VUE对象
      var Fdd = new Vue({
        //绑定标签
        el:"#A1",
        //绑定数据
        data:{
          up:{shopid:"", shopname:"",shopprice:"",shopmiaoshu:"",shopzhekou:"",shopbeizhu:""}
          
        },
        //请求服务器数据的方法
       methods: {
           Find:function(){
           axios.get("http://27.50.169.208:10231/judgeShop?shopid="+Fdd.up.shopid).then(
           function(respones){
           var r = respones.data;
           if(r>0){
              alert("根据当前查询结果，未找到数据信息");
              window.location.reload()
           }
            axios.get("http://27.50.169.208:10231/getoneshop?shopid="+Fdd.up.shopid).then(
            function(respones)
              {
                Fdd.up = respones.data
              }
            ) 
           },
         )
         .catch(
           function(error){
             alert("与服务器通信错误，请检查与服务器的连接，错误代码-->："+error);
             window.location.reload()
           }
         )
       }
       },
      });  
      //查询数据库
      //创建VUE对象
      DNF = new Vue({
        //绑定标签
        el:"#DNF",
        //绑定数据
        data:{
          ShopSystem:[]    
        },
        methods: {
          get:function(){
           
          },
          SC:function (id,index) {
                  var r= window.confirm("是否确认删除？");
                    if (r==true){
                        axios.get('http://27.50.169.208:10231/delete?shopid='+id).then(
                          function(response){
                              // 测试返回值代码：alert(response.data);
                            var c = response.data;
                            if(c>0){
                              DNF.ShopSystem.splice(index,1);
                            }else{
                              alert("删除商品失败，请检查后端，错误代码："+response)
                            }
                          }
                        )

                      }   
            } 
        },
        
            
            

      });
      //绑定HTML标签
    </script>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>