<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>订单管理模块-测试版</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="C1.html">
          仪表盘
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="C2.html">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="D1.html">订单管理（测试版）</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C3.html">查找商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U1.html">用户查询(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U2.html">用户管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
          </li>
        </ul>
      </nav>
      </div>
      <div id="b">
        <table class="table table-hover table-bordered" id="b1">
            <thead class="thead-light">
                <tr>
                    
                    <th class="text-center">订单ID</th>
                    <th class="text-center">用户名</th>
                    <th class="text-center">用户权限</th>
                    <th class="text-center">商品ID</th>
                    <th class="text-center">商品名称</th>
                    <th class="text-center">订单号</th>
                    <th class="text-center">快递单号</th>
                    <th class="text-center">快递公司</th>
                    <th class="text-center">商品库存</th>
                    <th class="text-center">收件人</th>
                    <th class="text-center">联系方式</th>
                    <th class="text-center">收货地址</th>
                    <th class="text-center">订单状态</th>
                    <th class="text-center">订单操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in order" id="hh">
                    <td class="text-center">{{a.oid}}</td>
                    <td class="text-center">{{a.username}}</td>
                    <td class="text-center">{{a.userjurisdiction}}</td>
                    <td class="text-center">{{a.shopid}}</td>
                    <td class="text-center">{{a.shopname}}</td>
                    <td class="text-center">{{a.order_number}}</td>
                    <td class="text-center">{{a.express_number}}</td>
                    <td class="text-center">{{a.express_company}}</td>
                    <td class="text-center">{{a.shopstock}}</td>
                    <td class="text-center">{{a.man}}</td>
                    <th class="text-center">{{a.phone}}</th>
                    <td class="text-center">{{a.address}}</td>
                    <td class="text-center">{{a.state}}</td>
                    <td class="text-center">
                            <!-- 按钮：用于打开模态框 -->
                            <button type="button" id="FH" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal" v-on:click="Find(a.oid,index)">
                                发货
                              </button>
       
                              <!-- 模态框 -->
                                  <div class="modal fade" id="myModal">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
       
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                          <h4 class="modal-title">请核对当前订单信息</h4>
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
       
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                              订单号：{{Fid.order_number}}<br>
                                              收件人：{{Fid.man}}<br>
                                              收货地址：{{Fid.address}}<br>
                                              商品名称：{{Fid.shopname}}<br>
                                              下单时剩余库存:---{{Fid.shopstock}}---<br>
                                              <div>
                                                <button type="button" id="upd" class="btn btn-outline-success" data-target="#update1" v-on:click="GUp">确认无误，提交发货请求</button>
                                              </div>
                                    
                                </div>
       
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                    </div>
       
                                              </div>
                                        </div>
                                  </div>
      
                            <button type="button" id="upd1" class="btn btn-outline-success" data-target="#update1">修改</button>
                            <button type="submit" id="SC" class="btn btn-outline-danger" v-on:click="SC(a.oid,index)">删除</button>
                          
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
   <!--订单管理模块数据交互代码-->
   <script>
       var V1 = new Vue({
		el:"#b1",
		data:{
			order:[],
			Fid:[],
		},
		mounted() {
			axios.get("http://27.50.169.208:10231/getOrder").then(
				function(response){
					V1.order = response.data;
				}
			)
		},
		methods: {
          get:function(){
           
          },
          SC:function (id,index) {
              var r= window.confirm("是否确认删除？");
                    if (r==true){                   
                        axios.get('http://27.50.169.208:10231/Admin_Order_SC?oid='+id).then(
                          function(response){
                              // 测试返回值代码：alert(response.data);
                            var c = response.data;
                            if(c>0){
                              b1.order.splice(index,1);
							  window.location.reload();
                            }else{
                              alert("删除商品失败，请检查后端，错误代码："+response)
                            }
                          }
                        )
                      }   
            },
			Find:function (id,index){
				var r= window.confirm("注意：此为商品出库操作，请注意核对订单信息！");
				if (r==true){                   
                        axios.get('http://27.50.169.208:10231/getOid?oid='+id).then(
                          function(response){
                              // 测试返回值代码：alert(response.data);
							V1.Fid = response.data;
                          }
                        )
                      }else{
						  alert("用户取消发货操作！")
						  window.location.reload();
					  }
			},
			GUp:function(){
				var r = window.confirm("系统即将执行发货操作，请再次确认数据无误，系统将随机选择承运单位。此操作不可逆，请注意！");
				if (r == true){
					var data = new URLSearchParams();
					data.append("oid",V1.Fid.oid);

					axios.post("http://27.50.169.208:10231/Admin_Order_FH",data).then(
					function(response){
						var a = response.data;
						alert("订单发货成功，返回值为："+response.data);
						window.location.reload();
					}
				)
				}else{
					alert("用户取消操作,数据将回滚！")
					window.location.reload();
				}
			}
        },
	});
   </script>   








  </div>
   

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>