<!doctype html>
<html lang="zh-cn">
  <head>
    <title>订单查询模块-测试版</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myInverseNavbar2" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="Wshop.html">Wshop-微商城 v1.0 Beta</a> </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="myInverseNavbar2">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">陈欣宇<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="D2.html">我的订单</a></li>
                      <li><a href="404/404.html">通知中心</a></li>
                      <li><a href="adminlogin.html">订单管理（管理员）</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="adminlogin.html">访问后台服务（管理员）</a></li>
                      <li><a href="login.html">退出登录</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </div>
            <!-- /.container-fluid --> 
          </nav>
        <div>
            <h4>订单查询（测试版）查询功能默认查询用户：陈欣宇（超级管理员）账户下的所有订单数据，系统内预留了多类查询条件，暂未开放</h4>
        </div>
      <div id="b">
        <table class="table table-hover table-bordered" id="b1">
            <thead class="thead-light">
                <tr>
                    
                    <th class="text-center">用户名</th>
                    <th class="text-center">商品名称</th>
                    <th class="text-center">订单号</th>
                    <th class="text-center">快递单号</th>
                    <th class="text-center">快递公司</th>
                    <th class="text-center">收件人</th>
                    <th class="text-center">联系方式</th>
                    <th class="text-center">收货地址</th>
                    <th class="text-center">订单状态</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in order" id="hh">
                    <td class="text-center">{{a.username}}</td>
                    <td class="text-center">{{a.shopname}}</td>
                    <td class="text-center">{{a.order_number}}</td>
                    <td class="text-center">{{a.express_number}}</td>
                    <td class="text-center">{{a.express_company}}</td>
                    <td class="text-center">{{a.man}}</td>
                    <th class="text-center">{{a.phone}}</th>
                    <td class="text-center">{{a.address}}</td>
                    <td class="text-center">{{a.state}}</td>
                </tr>
            </tbody>
        </table>
    </div>
   <!--订单管理模块数据交互代码-->
   <script>
       var V1 = new Vue({
		el:"#b1",
		data:{
			order:[],
			Fid:[],
		},
		mounted() {
			axios.get("http://27.50.169.208:10231/getOrder").then(
				function(response){
					V1.order = response.data;
				}
			)
		},
	});
   </script>   








  </div>
   

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>