<!DOCTYPE html>
<html>
<head>
  <title>新版后台管理系统-C1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
  <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
       .tabs-content > .content.active {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  </style>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="css/bootstrap.min.css"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 id="a"><a href="#">后台管理系统</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>菜单</span></a></li>
  </ul>

  <section class="top-bar-section" style="color: aliceblue;">
    <ul class="left tabs" data-tab="">
      <li class="tab-title active" id="b"><a href="#home"  aria-selected="true" tabindex="0"><i class="fi-home"></i> 首页</a></li>
      <li class="tab-title" id="c"><a href="#Shop" aria-selected="false" tabindex="-1"><i class="fi-shopping-bag" style="color:greenyellow;"></i> 商品管理</a></li>
      <li class="tab-title" id="d"><a href="#Order" aria-selected="false" tabindex="-1"><i class="fi-shopping-cart" style="color:rgb(47, 255, 206);"></i> 订单管理</a></li>
      <li class="tab-title" id="e"><a href="#User" aria-selected="false" tabindex="-1"><i class="fi-torsos-all" style="color:rgb(142, 28, 230);"></i> 用户管理</a></li>
      <li class="tab-title" id="f"><a href="#Ly" aria-selected="false" tabindex="-1"><i class="fi-page-filled" style="color:rgb(255, 206, 47);"></i> 留言管理</a></li> 
      <li class="tab-title" id="g"><a href="#Pj" aria-selected="false" tabindex="-1"><i class="fi-page-multiple" style="color:rgb(22, 213, 35);"></i> 评价管理</a></li> 
      <li class="tab-title" id="h"><a href="#Sys" aria-selected="false" tabindex="-1"><i class="fi-laptop" style="color:rgb(20, 191, 230);"></i> 系统设置</a></li> 
      <li class="tab-title" id="i"><a href="#Kf" aria-selected="false" tabindex="-1"><i class="fi-web" style="color:rgba(47, 168, 255, 0.802);"></i> 开发设置</a></li> 
    </ul>
    <ul class="right">
      <li><a href="#"></a></li>
        <li class="has-dropdown">
          <a href="#"><i class="fi-torso"></i> 用户接口</a>
          <ul class="dropdown">
            <li><a href="#">个人中心</a></li>
            <li><a href="#">密码修改</a></li>
            <li><a href="#">切换用户</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fi-power" style="font-size:15px;color:red;"></i></a></li>
      </ul>
  </section>
</nav>
<!--系统首页-->
<div class="tabs-content">
  <div class="content active" id="home" aria-hidden="false">
    <div data-alert class="alert-box warning round">
      <strong>注意！</strong> 部分功能迁移中，暂时无法使用！
      <a href="#" class="close">&times;</a>
  </div>
    <ul class="small-block-grid-3">
      <li>
        <div class="col" style="background-color:lavender;">
          <div id="Sys1">
          <div class="container"  v-for="site in up">
            <div class="card">
              <div class="card-header"><h5 class="text-center">欢迎使用后台管理系统</h5></div>
              <div class="card-body"><h5 class="text-center">{{site.sys_name}}<br>
                <span class="badge badge-pill badge-primary">当前状态：</span>
                &nbsp;&nbsp;<span class="badge badge-pill badge-success">在线</span>
              </h5>
            </div> 
            </div>
            <div class="card">
                <div class="card-body">版本信息：<br>
                      版本构建时间：{{ site.sys_time }}<br>
                      前端版本：{{site.sys_vid}}<br>
                      服务版本：{{site.sys_jar}}<br>
                      CDN加速服务商：<a href="https://activity.huaweicloud.com/discount_area_v5/index.html?utm_source=baidu&utm_medium=brand&utm_campaign=10033&utm_content=&utm_term=&utm_adplace=AdPlace024711">@华为云</a><br>
                      云服务器服务商：<a href="https://www.aliyun.com/?spm=5176.12901015.ahjq0uaqt.1.127e525cYeOzPa">@阿里云计算</a>
                </div>
              </div>
              <br>
              <br>
              <div class="card bg-success text-white">
                <div class="card-body">
                  <p>{{ site.sys_bq }}</p>
                  <p>地&nbsp;&nbsp;址：{{ site.sys_dz }}</p>
                  <p>备案号：<a href="https://www.beian.miit.gov.cn">{{site.sys_ba}}</a>
                  <a href="https://www.aliyun.com/?spm=5176.12901015.ahjq0uaqt.1.127e525cYeOzPa">{{site.sys_zc}}</a>
                  </p>
                </div>
              </div>
              <br>
          </div>
          </div>
        </div>
      </li>
      <li>
        <div class="col"> 
          <div class="card-footer"><h5 class="text-center">MySql-数据库信息：</h5>
      </div>
      <div class="card">
          <div class="card-body">版本信息：MySql 8.0.19-Community-nt via TCP/IP</div>
        </div>
        <br>
        <div class="card bg-primary text-white">
          <div class="card-body">登录信息：<br>
              数据库地址：39.106.191.207<br>
              当前操作用户：root<br>
              JDBC驱动版本：MySql-connector-Java-8.0.19.jar<br>
              

          </div>
        </div>
        <br>
        <div class="card bg-success text-white">
          <div class="card-body">当前连接状态：数据库连接正常</div>
        </div>
        <br>
        <div class="card bg-light text-dark">
          <div class="card-body">
                    <h5 class="text-center">当前数据库使用程度：</h5>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:25%">
                          负载低
                        </div>
                        <div class="progress-bar bg-warning" style="width:25%">
                          负载一般
                        </div>
                        <div class="progress-bar bg-danger" style="width:40%">
                          繁忙！
                        </div>
                        <div class="progress-bar bg-dark" style="width:10%">
                            GG
                          </div>
                      </div>
                      <br>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:10%">10%</div>
                    </div>
                    <br>
                    <br>
                    <h5>数据库使用正常</h5>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
          </div>
        </div>
    </div>
      </li>
      <li>
        <div class="col" style="background-color:lavender;">
          <div class="card-header"><h5 class="text-center">服务器信息：</h5>
          </div>
          <div id="A2">
          <div class="card  text-dark">
            <div class="card-body" >当前登录用户位置信息：<br>
              <div id="a1">
                  当前登录IP：<script>document.write(returnCitySN["cip"])</script><br>
                  IP所在地： {{IP.province}},{{IP.city}} <br>
                  服务器框架：<br>
                  服务器信息：<br>
                  Windows Server 2019 数据中心版 - x64 <br>
                  处理器：Intel(R) Xeon(R) PLatinum 8163 CPU @2.50GHz<br>
                  已安装RAM：2GB DDR3 1600MHz<br>
                  IIS版本：IIS -10.0<br>
              </div> 
                  
            </div>
          </div>
          </div>
            <br>
            <div class="card bg-primary text-white">
              <div class="card-body">服务器地址：<br>
                    http://39.106.191.207/<br>
                    服务器框架：<br>
                    服务器信息：<br>
                    Windows Server 2019 数据中心版 - x64 <br>
                    处理器：Intel(R) Xeon(R) PLatinum 8163 CPU @2.50GHz<br>
                    已安装RAM：2GB DDR3 1600MHz<br>
                    IIS版本：IIS -10.0<br>
                    
                    
              </div>
            </div>
            <br>
            <div class="card bg-success text-white">
              <div class="card-body">服务器运行状态：稳定</div>
            </div>
            <br>
            <div class="card bg-danger text-white">
              <div class="card-body">有一项错误信息：<br>
                    定位：用户表查询功能<br>
                    位置：Null!!<br>
                    错误代码：<br>
                    erro :400
              </div>
            </div>
            <br>
        </div>
      </li>
    </ul>

  </div>
  <div class="content" id="Shop" aria-hidden="true" tabindex="-1">
    <span class="rounded">
      <form class="form-inline" id="update"> 
        <label for="name">
              <!-- 按钮：用于打开模态框 -->
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#czxz">
    数据无价，请先阅读此操作须知后进行数据操作！
  </button>
  <!-- 模态框 -->
  <div class="modal fade" id="czxz">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">《数据管理操作须知》</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
          模态框内容..
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Add1">
                新增数据
              </button>
               
              <!-- 模态框 -->
              <div class="modal fade" id="Add1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                      <h4 class="modal-title">新增商品信息</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
               
                    <!-- 模态框主体 -->
                    <div class="modal-body" id="AB">
                        <h6>商品名称：</h6><input class="form-control" type="text" id="shopname"  name="shopname" placeholder="商品名称" v-model="shop.shopname"  />
                        &nbsp;&nbsp;<br>&nbsp;&nbsp;
                        <h6>商品价格：</h6><input class="form-control" type="text" id="shopprice"  name="shopprice" placeholder="商品价格（单位：元）" v-model="shop.shopprice"  />
                        &nbsp;&nbsp;<br>&nbsp;&nbsp;
                        <h6>商品描述：</h6><input class="form-control" type="text" id="shopmiaoshu"  name="shopmiaoshu" placeholder="商品描述" v-model="shop.shopmiaoshu"  />
                        &nbsp;&nbsp;<br>&nbsp;&nbsp;
                        <h6>商品折扣：</h6><input class="form-control" type="text" id="shopzhekou"  name="shopzhekou" placeholder="商品折扣" v-model="shop.shopzhekou"  />
                        &nbsp;&nbsp;<br>&nbsp;&nbsp;
                        <h6>商品活动：</h6><input class="form-control" type="text" id="shopbeizhu"  name="shopbeizhu" placeholder="商品活动" v-model="shop.shopbeizhu"  /><br>
                        &nbsp;&nbsp;<br>&nbsp;&nbsp;
                        <h6>设置库存：</h6><input class="form-control" type="text" id="shopstock"  name="shopstock" placeholder="商品库存" v-model="shop.shopstock"  /><br>
                        &nbsp;&nbsp;<br>
                        <div id="AC">
                            <input type="button" value="增加" class="btn btn-success" v-on:click="Add"   /> 
                        </div>
                    </div>
               
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
               
                  </div>
                </div>
              </div>
        </label>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updata1">
          数据修改
        </button>&nbsp;&nbsp;
                    <!-- 模态框 -->
                    <div class="modal fade" id="updata1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- 模态框头部 -->
                          <div class="modal-header">
                            <h4 class="modal-title">根据商品唯一ID，修改数据</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                     
                          <!-- 模态框主体 -->
                          <div class="modal-body" id="AB1">
                              <h6>商品 ID：</h6><input class="form-control" type="text" id="shopid1"  name="shopid" placeholder="请输入商品唯一编码" v-model="shop.shopid"  />
                              <h6>商品名称：</h6><input class="form-control" type="text" id="shopname1"  name="shopname" placeholder="商品名称" v-model="shop.shopname"  />
                              &nbsp;&nbsp;<br>&nbsp;&nbsp;
                              <h6>商品价格：</h6><input class="form-control" type="text" id="shopprice1"  name="shopprice" placeholder="商品价格（单位：元）" v-model="shop.shopprice"  />
                              &nbsp;&nbsp;<br>&nbsp;&nbsp;
                              <h6>商品描述：</h6><input class="form-control" type="text" id="shopmiaoshu1"  name="shopmiaoshu" placeholder="商品描述" v-model="shop.shopmiaoshu"  />
                              &nbsp;&nbsp;<br>&nbsp;&nbsp;
                              <h6>商品折扣：</h6><input class="form-control" type="text" id="shopzhekou1"  name="shopzhekou" placeholder="商品折扣" v-model="shop.shopzhekou"  />
                              &nbsp;&nbsp;<br>&nbsp;&nbsp;
                              <h6>商品活动：</h6><input class="form-control" type="text" id="shopbeizhu1"  name="shopbeizhu" placeholder="商品活动" v-model="shop.shopbeizhu"  /><br>
                              &nbsp;&nbsp;<br>
                              <div id="AC1">
                                  <input type="button" value="核对无误，确认修改" class="btn btn-success" v-on:click="Addup"   /> 
                              </div>
                          </div>
                     
                          <!-- 模态框底部 -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                          </div>
                     
                        </div>
                      </div>
                    </div>
                    <div id="F5">
                      <input type="button" value="刷新" class="btn btn-success" v-on:click="Find"  />
                  </div>&nbsp;&nbsp;
        <input type="button" class="btn btn-info" value="测试按钮-2" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">&nbsp;&nbsp;
        <input type="button" class="btn btn-info" value="测试按钮-3" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">&nbsp;&nbsp;
        <input type="button" id="Ex" name="out_excel" class="btn btn-success" value="导出到Excel"  data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">
    </form>
  </span>
      <table class="table table-hover table-bordered" id="DNF">
          <thead class="thead-light">
              <tr>
                  <th class="text-center">编号</th>
                  <th class="text-center">名称</th>
                  <th class="text-center">价格</th>
                  <th class="text-center">描述</th>
                  <th class="text-center">折扣信息</th>
                  <th class="text-center">活动信息</th>
                  <th class="text-center">库存</th>
                  <th class="text-center">数据操作</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(a,index) in ShopSystem" id="hh">
                  <td class="text-center" scope="row">{{ a.shopid }}</td>
                  <td class="text-center">{{a.shopname}}</td>
                  <td class="text-center">{{a.shopprice}}</td>
                  <td class="text-centre">{{a.shopmiaoshu}}</td>
                  <td class="text-center">{{a.shopzhekou}}</td>
                  <td class="text-center">{{a.shopbeizhu}}</td>
                  <td class="text-center">{{a.shopstock}}</td>
                  <td class="text-center">
              <div>
                <button type="button" class="btn btn-outline-success" data-target="#update1">修改</button>
              </div>
                    <button type="button" class="btn btn-outline-danger" v-on:click="SC(a.shopid,index)">删除</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div id="AX" class="mx-auto">
          <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
      </div>
  </div>
  <div class="content" id="Order" aria-hidden="true" tabindex="-1">
    <div id="b2">
      <table class="table table-hover table-bordered" id="b1">
          <thead class="thead-light">
              <tr>
                  
                  <th class="text-center">订单ID</th>
                  <th class="text-center">用户名</th>
                  <th class="text-center">用户权限</th>
                  <th class="text-center">商品ID</th>
                  <th class="text-center">商品名称</th>
                  <th class="text-center">订单号</th>
                  <th class="text-center">快递单号</th>
                  <th class="text-center">快递公司</th>
                  <th class="text-center">商品库存</th>
                  <th class="text-center">收件人</th>
                  <th class="text-center">联系方式</th>
                  <th class="text-center">收货地址</th>
                  <th class="text-center">订单状态</th>
                  <th class="text-center">订单操作</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(a,index) in order" id="hh2">
                  <td class="text-center">{{a.oid}}</td>
                  <td class="text-center">{{a.username}}</td>
                  <td class="text-center">{{a.userjurisdiction}}</td>
                  <td class="text-center">{{a.shopid}}</td>
                  <td class="text-center">{{a.shopname}}</td>
                  <td class="text-center">{{a.order_number}}</td>
                  <td class="text-center">{{a.express_number}}</td>
                  <td class="text-center">{{a.express_company}}</td>
                  <td class="text-center">{{a.shopstock}}</td>
                  <td class="text-center">{{a.man}}</td>
                  <th class="text-center">{{a.phone}}</th>
                  <td class="text-center">{{a.address}}</td>
                  <td class="text-center">{{a.state}}</td>
                  <td class="text-center">
                          <!-- 按钮：用于打开模态框 -->
                          <button type="button" id="FH" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal" v-on:click="Find(a.oid,index)">
                              发货
                            </button>
     
                            <!-- 模态框 -->
                                <div class="modal fade" id="myModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
     
                              <!-- 模态框头部 -->
                              <div class="modal-header">
                                        <h4 class="modal-title">请核对当前订单信息</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
     
                              <!-- 模态框主体 -->
                              <div class="modal-body">
                                            订单号：{{Fid.order_number}}<br>
                                            收件人：{{Fid.man}}<br>
                                            收货地址：{{Fid.address}}<br>
                                            商品名称：{{Fid.shopname}}<br>
                                            下单时剩余库存:---{{Fid.shopstock}}---<br>
                                            <div>
                                              <button type="button" id="upd" class="btn btn-outline-success" data-target="#update1" v-on:click="GUp">确认无误，提交发货请求</button>
                                            </div>
                                  
                              </div>
     
                              <!-- 模态框底部 -->
                              <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                  </div>
     
                                            </div>
                                      </div>
                                </div>
    
                          <button type="button" id="upd1" class="btn btn-outline-success" data-target="#update1">修改</button>
                          <button type="submit" id="SC" class="btn btn-outline-danger" v-on:click="SC(a.oid,index)">删除</button>
                        
                  </td>
                  
              </tr>
          </tbody>
      </table>
  </div>
  </div>
  <div class="content" id="User" aria-hidden="true" tabindex="-1">
    <div id="up">
      <span class="rounded">
        <form class="form-inline" id="update1"> 
          <label for="name"> 
              <button type="button" class="btn btn-warning">
                  新增用户数据：<span class="badge badge-danger">数据无价，请核对后输入！</span>&nbsp;
                </button>
          </label>
          &nbsp;&nbsp;
          <input class="form-control" type="text" id="username"  name="username" placeholder="用户名称" v-model="User.username"  />
          &nbsp;&nbsp;
          <input class="form-control" type="text" id="password"  name="password" placeholder="用户密码" v-model="User.password"  />
          &nbsp;&nbsp;
          <input type="button" value="增加" class="btn btn-success" v-on:click="Add"   /> &nbsp;
          <input type="button" value="数据库刷新操作" class="btn btn-primary" v-on:click="Find"  />
      </form>
    </span>
      </div>
        <table class="table table-hover table-bordered" id="US">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">用户ID</th>
                    <th class="text-center">用户编码</th>
                    <th class="text-center">用户昵称</th>
                    <th class="text-center">用户密码</th>
                    <th class="text-center">数据操作</th>
                    <th class="text-center">测试接口</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in UserSystem">
                    <td class="text-center" scope="row">{{ a.userid }}</td>
                    <td class="text-center">{{a.usernumber}}</td>
                    <td class="text-center">{{a.username}}</td>
                    <td class="text-center">{{a.password}}</td>
                    <td class="text-center"><button type="button" class="btn btn-outline-success">修改</button>
                      <button type="button" class="btn btn-outline-danger" v-on:click="SC(a.userid,index)">删除</button>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">新功能按钮</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                              <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">测试功能 - 01</a>
                              <a class="dropdown-item" href="#">测试功能 - 02</a>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
  <div class="content" id="Ly" aria-hidden="true" tabindex="-1">
    留言管理
  </div>
  <div class="content" id="Pj" aria-hidden="true" tabindex="-1">
    评价管理
  </div>
  <div class="content" id="Sys" aria-hidden="true" tabindex="-1">
    系统管理
  </div>
  <div class="content" id="Kf" aria-hidden="true" tabindex="-1">
    开发设置
  </div>

</div>

























<!--首页引导功能-->
<ol class="joyride-list" data-joyride>
  <li data-id="a">
    <p>欢迎使用新版后台管理系统，这是一个指引，您也可以关闭</p>
    <p>点击NEXT，进入功能引导</p>
  </li>
  <li data-id="b">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="c">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="d">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="e">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="f">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="g">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="h">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-id="i">
    <h4>第二个停止位置 Stop</h4>
    <p>你可以在这使用任何 HTML 代码</p>
  </li>
  <li data-button="End">
    <h4>结束位置</h4>
    <p>结束位置，你可以从头开始，或者关闭它。</p>
  </li>
</ol>

<!-- 初始化 Foundation JS -->
<script>
$(document).ready(function() {
    $(document).foundation('joyride', 'start');
})
</script>
<!-- 初始化 Foundation JS -->
<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>
<!--Vue-->
<script>
  // 首页信息页面调用
  var Fdd = new Vue({
    //绑定标签
    el:"#Sys1",
    //绑定数据
    data(){
      return{
        up:null
      }
    },
    //请求服务器数据的方法
    mounted () {//用来向服务器请求数据的方法
          axios.get('http://27.50.169.208:10231/getSys')
          .then(
              function(response){//请求正常完成的处理
                //将响应的数据给到libs
                Fdd.up = response.data;
                
            }).catch(
              function (error) { // 请求失败处理
                alert("服务器尚未启动，请联系后端管理员");
           });
        },
  }); 
  //通过访问IP，获取当前登录用户位置信息 
  var a = new Vue({
  el:"#a1",
  data(){
  return{
    IP:[]
  }
},
mounted() {
  axios.get('https://restapi.amap.com/v3/ip?key=0113a13c88697dcea6a445584d535837')
  .then(
    function(response){
      a.IP = response.data;
      
    }
  )
},
})
</script>
<script>
  //商品数据模块调用
  var New = new Vue({
    el:"#F5",
    methods:{
      Find:function(){
        window.location.reload()
         }
    }
  });
  var Shop = new Vue({
  el:"#AB",
  data:{
    shop:{shopid:"", shopname:"",shopprice:"",shopmiaoshu:"",shopzhekou:"",shopbeizhu:"",shopstock:""}
  },
  methods:{
      Add:function(){
        var data = new URLSearchParams();
        data.append("shopname",Shop.shop.shopname);
        data.append("shopprice",Shop.shop.shopprice);
        data.append("shopmiaoshu",Shop.shop.shopmiaoshu);
        data.append("shopzhekou",Shop.shop.shopzhekou);
        data.append("shopbeizhu",Shop.shop.shopbeizhu);
        data.append("shopstock",Shop.shop.shopstock);
        //发送请求到服务器
        axios.post("http://27.50.169.208:10231/addshop",data).then(
          function(response){
            // 测试返回值代码：alert(response.data);
            var u = response.data
            if(u>0){
              DNF.ShopSystem.push(response.data);
              alert("添加商品成功，商品编码为："+response.data);
              window.location.reload();
            }else{
              alert("添加商品失败，请检查是否重复添加，错误代码："+response.data)
            }
            


          }
        ).catch(
          function(error){
            alert("请求失败，请检查与后端服务器的连接！");
              }
          );
         
      },
      //删除方法
      
     }
});
var AD = new Vue({
  el:"#AB1",
  data:{
          shop:{shopid:"", shopname:"",shopprice:"",shopmiaoshu:"",shopzhekou:"",shopbeizhu:""}
       },
       methods:{
        Addup:function(){
           var data = new URLSearchParams();
           data.append("shopid",AD.shop.shopid);
           data.append("shopname",AD.shop.shopname);
           data.append("shopprice",AD.shop.shopprice);
           data.append("shopmiaoshu",AD.shop.shopmiaoshu);
           data.append("shopzhekou",AD.shop.shopzhekou);
           data.append("shopbeizhu",AD.shop.shopbeizhu);
          //POST
          axios.post("http://27.50.169.208:10231/update",data).then(
            function(response){
              var up = response.data;
              if(up>0){
                DNF.ShopSystem.push(response.data);
                alert("修改商品成功，稍后数据库将进行刷新操作！");
                window.location.reload();
              }else{
              alert("修改商品失败，请检查错误代码："+response.data)
              }
            }
          ).catch(
            function(error){
              alert(error);
            }
          );
         

          },

       }
});


//查询数据库
//创建VUE对象
  var DNF = new Vue({
  //绑定标签
  el:"#DNF",
  //绑定数据
  data:{
    ShopSystem:[]
    
  },
  //请求服务器数据的方法
  mounted () {//用来向服务器请求数据的方法
        axios.get('http://27.50.169.208:10231/getallshop').then(
            function(response){//请求正常完成的处理
              //将响应的数据给到libs
               DNF.ShopSystem = response.data;
          }).catch(
            function (error) { // 请求失败处理
              alert("服务器尚未启动，请联系后端管理员");
         });
      },
  methods: {
    get:function(){
     
    },
    SC:function (id,index) {


        var r= window.confirm("是否确认删除？");
              if (r==true){
             
                  axios.get('http://27.50.169.208:10231/delete?shopid='+id).then(
                    function(response){
                        // 测试返回值代码：alert(response.data);
                      var c = response.data;
                      if(c>0){
                        DNF.ShopSystem.splice(index,1);
                      }else{
                        alert("删除商品失败，请检查后端，错误代码："+response)
                      }
                    }
                  )

                }   
      } 
  },
});
//绑定HTML标签
  $(document).ready(function(){
  $('[data-toggle="popover"]').popover();   
});
</script>
<!--订单管理模块数据交互代码-->
<script>
  var V1 = new Vue({
el:"#b2",
data:{
 order:[],
 Fid:[],
},
mounted() {
 axios.get("http://27.50.169.208:10231/getOrder").then(
   function(response){
     V1.order = response.data;
   }
 )
},
methods: {
     get:function(){
      
     },
     SC:function (id,index) {
         var r= window.confirm("是否确认删除？");
               if (r==true){                   
                   axios.get('http://27.50.169.208:10231/Admin_Order_SC?oid='+id).then(
                     function(response){
                         // 测试返回值代码：alert(response.data);
                       var c = response.data;
                       if(c>0){
                         b1.order.splice(index,1);
           window.location.reload();
                       }else{
                         alert("删除商品失败，请检查后端，错误代码："+response)
                       }
                     }
                   )
                 }   
       },
 Find:function (id,index){
   var r= window.confirm("注意：此为商品出库操作，请注意核对订单信息！");
   if (r==true){                   
                   axios.get('http://27.50.169.208:10231/getOid?oid='+id).then(
                     function(response){
                         // 测试返回值代码：alert(response.data);
         V1.Fid = response.data;
                     }
                   )
                 }else{
         alert("用户取消发货操作！")
         window.location.reload();
       }
 },
 GUp:function(){
   var r = window.confirm("系统即将执行发货操作，请再次确认数据无误，系统将随机选择承运单位。此操作不可逆，请注意！");
   if (r == true){
     var data = new URLSearchParams();
     data.append("oid",V1.Fid.oid);

     axios.post("http://27.50.169.208:10231/Admin_Order_FH",data).then(
     function(response){
       var a = response.data;
       alert("订单发货成功，返回值为："+response.data);
       window.location.reload();
     }
   )
   }else{
     alert("用户取消操作,数据将回滚！")
     window.location.reload();
   }
 }
   },
});
</script>  
<script>
  var DNF;
  var DNFA = new Vue({
  el:"#up",
  data:{
    User:{userid:"", usernumber:"",username:"",password:""}
   
  },
  methods:{
      Add:function(){
        var data = new URLSearchParams();
        data.append("username",DNFA.User.username);
        data.append("password",DNFA.User.password);
        //发送请求到服务器
        axios.post("http://27.50.169.208:10231/addusername",data).then(
          function(response){
            // 测试返回值代码：alert(response.data);
            var u = response.data
            if(u != null){
              DNF.UserSystem.push(response.data);
              alert("添加新用户成功！！该用户唯一编码为："+response.data);
              window.location.reload();
            }else{
              alert("添加新用户失败，错误代码："+response.data);
            }
            


          }
        ).catch(
          function(error){
            alert("请求失败，您暂无权限进行此操作！！");
              }
          );
         
      },
      Find:function(){
        window.location.reload()
      }
      //删除方法
      
     }
});


//查询数据库
//创建VUE对象
DNF = new Vue({
  //绑定标签
  el:"#US",
  //绑定数据
  data:{
    UserSystem:[]
    
  },
  //请求服务器数据的方法
  mounted () {//用来向服务器请求数据的方法
        axios.get('http://27.50.169.208:10231/getUserAll').then(
            function(response){//请求正常完成的处理
              //将响应的数据给到libs
               DNF.UserSystem = response.data;
          }).catch(
            function (error) { // 请求失败处理
              alert("服务器尚未启动，请联系后端管理员");
         });
      },
  methods: {
    get:function(){
     
    },
    SC:function (id,index) {


        var r= window.confirm("是否确认删除？");
              if (r==true){
             
                  axios.get('http://27.50.169.208:10231/delete_userid?userid='+id).then(
                    function(response){
                        // 测试返回值 alert(response.data);
                      var c = response.data;
                      if(c>0){
                        DNF.UserSystem.splice(index,1);
                      }else{
                        alert("删除用户失败，请检查服务器代码或运行状态，错误代码："+response)
                      }
                    }
                  )

                }   
      } 
  },
});
//绑定HTML标签
</script>
<script>
  //页面加载调用
  window.onload=function(){
      //每1秒刷新时间
    setInterval("NowTime()",1000);
  }
  function NowTime(){
      //获取年月日
      var time=new Date();
      var year=time.getFullYear();
      var month=time.getMonth();
      var day=time.getDate();
      
      //获取时分秒
      var h=time.getHours();
      var m=time.getMinutes();
      var s=time.getSeconds();
      
      //检查是否小于10
      h=check(h);
      m=check(m);
      s=check(s);
      document.getElementById("nowtime").innerHTML="当前服务器时间："+year+"年"+month+"月"+day+"日  "+h+":"+m;
  }
  //时间数字小于10，则在之前加个“0”补位。
  function check(i){
      //方法一，用三元运算符
      var num;
      i<10?num="0"+i:num=i;
      return num;
      
      //方法二，if语句判断
      //if(i<10){
      //    i="0"+i;
      //}
      //return i;
  }
</script>


</body>
</html>
