<!doctype html>
<html lang="zh-cn">
  <head>
    <title>系统信息设置</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="C1.html">
          仪表盘
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="C2.html">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="D1.html">订单管理（测试版）</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C3.html">查找商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U1.html">用户查询(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U2.html">用户管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
          </li>
        </ul>
      </nav>
      </div>
      <div class="row">
          <div class="col" style="background-color:lavender;">
            <div class="container" >
              <div class="card">
                <div class="card-header"><h5 class="text-center">当前抽奖信息</h5></div>
                <div class="card-body">
                  <div class="alert alert-success text-center" >
                    <strong>一等奖中奖信息</strong>
                  </div>
                  <table class="table table-hover table-bordered" id="SysTemA">
                    <thead class="thead-light">
                        <tr>
                            
                            <th class="text-center">用户名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(a,index) in up" id="hh">
                            <td class="text-center">{{a.VueVue}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-success text-center" >
                  <strong>网站相关信息</strong>
                </div>
                <table class="table table-hover table-bordered" id="SysTemA2">
                  <thead class="thead-light">
                      <tr>
                          
                          <th class="text-center">版权信息：</th>
                          <th class="text-center">联系地址：</th>
                          <th class="text-center">备案号：</th>
                          <th class="text-center">技术支持:</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="(a,index) in up" id="h2">
                          <td class="text-center">{{a.sys_bq}}</td>
                          <td class="text-center">{{a.sys_dz}}</td>
                          <td class="text-center">{{a.sys_ba}}</td>
                          <td class="text-center">{{a.sys_zc}}</td>
                      </tr>
                  </tbody>
              </table>
              </div> 
              </div>
              
                
                <br>
                <br>
                <br>
            </div>
            </div>
        </div>  
  </div>
    <script>
      //创建VUE对象
      var Fdd = new Vue({
        //绑定标签
        el:"#SysTemA",
        //绑定数据
        data:{
          up:[]
        },
        //请求服务器数据的方法
        mounted () {//用来向服务器请求数据的方法
              axios.get('http://27.50.169.208:10231/Rush_PHG_Test').then(
                  function(response){//请求正常完成的处理
                    //将响应的数据给到libs
                    Fdd.up = response.data;
                }).catch(
                  function (error) { // 请求失败处理
                    alert("服务器尚未启动，请联系后端管理员");
               });
            },
      }); 
      var Fid = new Vue({
        //绑定标签
        el:"#SysTemA2",
        //绑定数据
        data:{
          up:[]
        },
        //请求服务器数据的方法
        mounted () {//用来向服务器请求数据的方法
              axios.get('http://27.50.169.208:10231/getSys').then(
                  function(response){//请求正常完成的处理
                    //将响应的数据给到libs
                    Fid.up = response.data;
                }).catch(
                  function (error) { // 请求失败处理
                    alert("服务器尚未启动，请联系后端管理员");
               });
            },
      }); 
      var up = new Vue({
        el:"#Udd",
        //数据池
        data:{
          sys:{sid:"1",sys_name:"",sys_time:"",sys_vid:"",sys_jar:"",sys_bq:"",sys_dz:"",sys_ba:"",sys_zc:""}
        },
        methods:{
            Add:function(){
              var data = new URLSearchParams();
              data.append("sid",up.sys.sid);
              data.append("sys_name",up.sys.sys_name);
              data.append("sys_time",up.sys.sys_time);
              data.append("sys_vid",up.sys.sys_vid);
              data.append("sys_jar",up.sys.sys_jar);
              data.append("sys_bq",up.sys.sys_bq);
              data.append("sys_dz",up.sys.sys_dz);
              data.append("sys_ba",up.sys.sys_ba);
              data.append("sys_zc",up.sys.sys_zc);
              //发送请求到服务器
              axios.post("http://27.50.169.208:10231/updateSystem",data).then(
                function(response){
                  // 测试返回值代码：alert(response.data);
                  var u = response.data
                  if(u>0){
                    
                    alert("修改系统信息成功！返回值为："+response.data);
                    window.location.reload();
                  }else{
                    alert("修改失败")
                  }
                }
              )             
            },           
           }
      });



    </script>

      <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>