<!doctype html>
<html lang="zh-cn">
  <head>
    <title>项目评价管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      #DNF{
        word-break: keep-all;
      }
      #AC{
        text-align: center;
      }
      #AB{
        text-align: center;
      }
      #AX{
        margin:0 auto;border:1px solid rgba(255, 254, 254, 0);width:300px;height:100px;
      }
    </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="C1.html">
          仪表盘
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="C2.html">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C3.html">查找商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U1.html">用户查询(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U2.html">用户管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
          </li>
        </ul>
      </nav>
      </div>
  <span class="rounded">
    <form class="form-inline" id="update"> 
      <div id="F5">
        <input type="button" value="刷新评论数据库" class="btn btn-success" v-on:click="Find"  />
      </div>&nbsp;&nbsp;
      <input type="button" class="btn btn-info" value="测试按钮-2" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">&nbsp;&nbsp;
      <input type="button" class="btn btn-info" value="测试按钮-3" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">&nbsp;&nbsp;
      <input type="button" id="Ex" name="out_excel" class="btn btn-success" value="导出到Excel"  data-toggle="popover" data-placement="bottom" data-trigger="focus" title="通知信息：" data-content="此功能尚未开启，请联系管理员">
  </form>
</span>
    <table class="table table-hover table-bordered" id="DNF">
        <thead class="thead-light">
            <tr>
                <th class="text-center">编号</th>
                <th class="text-center">单位</th>
                <th class="text-center">评价者</th>
                <th class="text-center">邮箱</th>
                <th class="text-center">评价内容</th>
                <th class="text-center">对应项目</th>
                <th class="text-center">数据操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(a,index) in PlSystem" id="hh">
                <td class="text-center" scope="row">{{a.mesid}}</td>
                <td class="text-center">{{a.mes_dangwei}}</td>
                <td class="text-center">{{a.mes_name}}</td>
                <td class="text-centre">{{a.mes_email}}</td>
                <td class="text-center">{{a.mes_message}}</td>
                <td class="text-center">{{a.mes_pro}}</td>
                <td class="text-center">
            <div>
              <button type="button" class="btn btn-outline-success" data-target="#update1">回复</button>
            </div>
                  <button type="button" class="btn btn-outline-danger" v-on:click="SC(a.shopid,index)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--核心功能（评价查看及回复）-->
    <script>
      // 刷新数据库（刷新页面）
        var New = new Vue({
          el:"#F5",
          methods:{
            Find:function(){
              window.location.reload()
               }
          }
        });
     //查询数据库
      //创建VUE对象
      DNF = new Vue({
        //绑定标签
        el:"#DNF",
        //绑定数据
        data:{
          PlSystem:[]
          
        },
        //请求服务器数据的方法
        mounted () {//用来向服务器请求数据的方法
              axios.get('http://27.50.169.208:10231/getPlAll').then(
                  function(response){//请求正常完成的处理
                    //将响应的数据给到libs
                     DNF.PlSystem = response.data;
                }).catch(
                  function (error) { // 请求失败处理
                    alert("服务器尚未启动，请联系后端管理员");
               });
            },
        methods: {
          get:function(){
           
          },
          SC:function (id,index) {


              var r= window.confirm("是否确认删除？");
                    if (r==true){
                   
                        axios.get('http://27.50.169.208:10231/delete?shopid='+id).then(
                          function(response){
                              // 测试返回值代码：alert(response.data);
                            var c = response.data;
                            if(c>0){
                              DNF.ShopSystem.splice(index,1);
                            }else{
                              alert("删除商品失败，请检查后端，错误代码："+response)
                            }
                          }
                        )

                      }   
            } 
        },

        
            
            

      });
      //绑定HTML标签
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
      });
    </script>


    
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>