<!doctype html>
<html lang="zh-cn">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <style>
        .exitBtn{
            float:right;
            margin-top:-2px;
        }
        #A1{
          background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
        }
        #A2{
          color:white;
	        text-shadow:2px 2px 4px #FF5050;
          font-family:"微软雅黑";
        }
        #A3{
          color: #FF966D;
        }
        #A4{
          color:white;
	        text-shadow:2px 2px 4px #FF5050;
          font-family:"微软雅黑";
        }
        #A5{
          
          color: #FF966D;
        }
        #nowtime{
          color:white;
	        text-shadow:2px 2px 4px #FF5050;
          font-family:"微软雅黑";
        }
    </style>
</head>
  <body>
      <div class="jumbotron bg-success" id="A1">
        <div id="Sys" v-for="site in up">
          <h4 class="display-4" id="A2">{{site.sys_name}}  {{site.sys_vid}}</h4><br><div id="nowtime"></div>
          <div><p  id="A4">欢迎您，当前登录用户： <span class="" id="A3">用户名接口：</span> 您的角色是：<span class="font-weight-bold  text-warning">权限接口</span></p></div>
          </div>
        </div>

        <script>
          //页面加载调用
          window.onload=function(){
              //每1秒刷新时间
            setInterval("NowTime()",1000);
          }
          function NowTime(){
              //获取年月日
              var time=new Date();
              var year=time.getFullYear();
              var month=time.getMonth();
              var day=time.getDate();
              
              //获取时分秒
              var h=time.getHours();
              var m=time.getMinutes();
              var s=time.getSeconds();
              
              //检查是否小于10
              h=check(h);
              m=check(m);
              s=check(s);
              document.getElementById("nowtime").innerHTML="当前服务器时间："+year+"年"+month+"月"+day+"日  "+h+":"+m+":"+s;
          }
          //时间数字小于10，则在之前加个“0”补位。
          function check(i){
              //方法一，用三元运算符
              var num;
              i<10?num="0"+i:num=i;
              return num;
              
              //方法二，if语句判断
              //if(i<10){
              //    i="0"+i;
              //}
              //return i;
          }
        </script>
        <script>
          var Fdd = new Vue({
            //绑定标签
            el:"#Sys",
            //绑定数据
            data(){
              return{
                up:null
              }
            },
            //请求服务器数据的方法
            mounted () {//用来向服务器请求数据的方法
                  axios.get('http://27.50.169.208:10231/getSys')
                  .then(
                      function(response){//请求正常完成的处理
                        //将响应的数据给到libs
                        Fdd.up = response.data;
                    }).catch(
                      function (error) { // 请求失败处理
                        alert("服务器尚未启动，请联系后端管理员");
                   });
                },
          });  
          //绑定HTML标签
        </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>