<!doctype html>
<html lang="zh-cn">
  <head>
    <title>后台用户管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="C1.html">
          仪表盘
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="C2.html">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="D1.html">订单管理（测试版）</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C3.html">查找商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U1.html">用户查询(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="U2.html">用户管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S1.html">留言板管理(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S2.html">开发日志操作(BETA)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="S3.html">项目评价管理(BETA)</a>
          </li>
        </ul>
      </nav>
      </div>
  <div id="up">
  <span class="rounded">
    <form class="form-inline" id="update"> 
      <label for="name"> 
          <button type="button" class="btn btn-warning">
              新增用户数据：<span class="badge badge-danger">数据无价，请核对后输入！</span>&nbsp;
            </button>
      </label>
      &nbsp;&nbsp;
      <input class="form-control" type="text" id="username"  name="username" placeholder="用户名称" v-model="User.username"  />
      &nbsp;&nbsp;
      <input class="form-control" type="text" id="password"  name="password" placeholder="用户密码" v-model="User.password"  />
      &nbsp;&nbsp;
      <input type="button" value="增加" class="btn btn-success" v-on:click="Add"   /> &nbsp;
      <input type="button" value="数据库刷新操作" class="btn btn-primary" v-on:click="Find"  />
  </form>
</span>
  </div>
    <table class="table table-hover table-bordered" id="DNF">
        <thead class="thead-light">
            <tr>
                <th class="text-center">用户ID</th>
                <th class="text-center">用户编码</th>
                <th class="text-center">用户昵称</th>
                <th class="text-center">用户密码</th>
                <th class="text-center">数据操作</th>
                <th class="text-center">测试接口</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(a,index) in UserSystem">
                <td class="text-center" scope="row">{{ a.userid }}</td>
                <td class="text-center">{{a.usernumber}}</td>
                <td class="text-center">{{a.username}}</td>
                <td class="text-center">{{a.password}}</td>
                <td class="text-center"><button type="button" class="btn btn-outline-success">修改</button>
                  <button type="button" class="btn btn-outline-danger" v-on:click="SC(a.userid,index)">删除</button>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">新功能按钮</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">测试功能 - 01</a>
                          <a class="dropdown-item" href="#">测试功能 - 02</a>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var DNF;
        var DNFA = new Vue({
        el:"#up",
        data:{
          User:{userid:"", usernumber:"",username:"",password:""}
         
        },
        methods:{
            Add:function(){
              var data = new URLSearchParams();
              data.append("username",DNFA.User.username);
              data.append("password",DNFA.User.password);
              //发送请求到服务器
              axios.post("http://27.50.169.208:10231/addusername",data).then(
                function(response){
                  // 测试返回值代码：alert(response.data);
                  var u = response.data
                  if(u != null){
                    DNF.UserSystem.push(response.data);
                    alert("添加新用户成功！！该用户唯一编码为："+response.data);
                    window.location.reload();
                  }else{
                    alert("添加新用户失败，错误代码："+response.data);
                  }
                  


                }
              ).catch(
                function(error){
                  alert("请求失败，您暂无权限进行此操作！！");
                    }
                );
               
            },
            Find:function(){
              window.location.reload()
            }
            //删除方法
            
           }
      });


     //查询数据库
      //创建VUE对象
      DNF = new Vue({
        //绑定标签
        el:"#DNF",
        //绑定数据
        data:{
          UserSystem:[]
          
        },
        //请求服务器数据的方法
        mounted () {//用来向服务器请求数据的方法
              axios.get('http://27.50.169.208:10231/getUserAll').then(
                  function(response){//请求正常完成的处理
                    //将响应的数据给到libs
                     DNF.UserSystem = response.data;
                }).catch(
                  function (error) { // 请求失败处理
                    alert("服务器尚未启动，请联系后端管理员");
               });
            },
        methods: {
          get:function(){
           
          },
          SC:function (id,index) {


              var r= window.confirm("是否确认删除？");
                    if (r==true){
                   
                        axios.get('http://27.50.169.208:10231/delete_userid?userid='+id).then(
                          function(response){
                              // 测试返回值 alert(response.data);
                            var c = response.data;
                            if(c>0){
                              DNF.UserSystem.splice(index,1);
                            }else{
                              alert("删除用户失败，请检查服务器代码或运行状态，错误代码："+response)
                            }
                          }
                        )

                      }   
            } 
        },
        
            
            

      });
      //绑定HTML标签
    </script>
    
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>